# データの特徴整理

## パッケージのインポート

In [1]:
import polars as pl 
import pygwalker as pyg

## データの読み込み

In [3]:
train_df = pl.read_csv('./../data/train.csv')
test_df = pl.read_csv('./../data/test.csv')
display(train_df)
display(test_df)

shape: (891, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆            ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ PC 17599   ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…           ┆   ┆            ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.   ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆ 3101282    ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 113803     ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath    ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Li…             ┆   ┆            ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 373450     ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.   ┆ … ┆ 211536     ┆ 13.0    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Juozas           ┆   ┆            ┆         ┆       ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.    ┆ … ┆ 112053     ┆ 30.0    ┆ B42   ┆ S        │
│             ┆          ┆        ┆ Margaret Edith   ┆   ┆            ┆         ┆       ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.  ┆ … ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Catherine Helen  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ …                ┆   ┆            ┆         ┆       ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl   ┆ … ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆          ┆        ┆ Howell           ┆   ┆            ┆         ┆       ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.      ┆ … ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

shape: (418, 11)
┌─────────────┬────────┬────────────────────┬────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Pclass ┆ Name               ┆ Sex    ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---    ┆ ---                ┆ ---    ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64    ┆ str                ┆ str    ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪════════╪════════════════════╪════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 892         ┆ 3      ┆ Kelly, Mr. James   ┆ male   ┆ … ┆ 330911     ┆ 7.8292  ┆ null  ┆ Q        │
│ 893         ┆ 3      ┆ Wilkes, Mrs. James ┆ female ┆ … ┆ 363272     ┆ 7.0     ┆ null  ┆ S        │
│             ┆        ┆ (Ellen Needs)      ┆        ┆   ┆            ┆         ┆       ┆          │
│ 894         ┆ 2      ┆ Myles, Mr. Thomas  ┆ male   ┆ … ┆ 240276     ┆ 9.6875  ┆ null  ┆ Q        │
│             ┆        ┆ Francis            ┆        ┆   ┆            ┆         ┆       ┆          │
│ 895         ┆ 3      ┆ Wirz, Mr. Albert   ┆ male   ┆ … ┆ 315154     ┆ 8.6625  ┆ null  ┆ S        │
│ 896         ┆ 3      ┆ Hirvonen, Mrs.     ┆ female ┆ … ┆ 3101298    ┆ 12.2875 ┆ null  ┆ S        │
│             ┆        ┆ Alexander (Helga … ┆        ┆   ┆            ┆         ┆       ┆          │
│ …           ┆ …      ┆ …                  ┆ …      ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 1305        ┆ 3      ┆ Spector, Mr. Woolf ┆ male   ┆ … ┆ A.5. 3236  ┆ 8.05    ┆ null  ┆ S        │
│ 1306        ┆ 1      ┆ Oliva y Ocana,     ┆ female ┆ … ┆ PC 17758   ┆ 108.9   ┆ C105  ┆ C        │
│             ┆        ┆ Dona. Fermina      ┆        ┆   ┆            ┆         ┆       ┆          │
│ 1307        ┆ 3      ┆ Saether, Mr. Simon ┆ male   ┆ … ┆ SOTON/O.Q. ┆ 7.25    ┆ null  ┆ S        │
│             ┆        ┆ Sivertsen          ┆        ┆   ┆ 3101262    ┆         ┆       ┆          │
│ 1308        ┆ 3      ┆ Ware, Mr.          ┆ male   ┆ … ┆ 359309     ┆ 8.05    ┆ null  ┆ S        │
│             ┆        ┆ Frederick          ┆        ┆   ┆            ┆         ┆       ┆          │
│ 1309        ┆ 3      ┆ Peter, Master.     ┆ male   ┆ … ┆ 2668       ┆ 22.3583 ┆ null  ┆ C        │
│             ┆        ┆ Michael J          ┆        ┆   ┆            ┆         ┆       ┆          │
└─────────────┴────────┴────────────────────┴────────┴───┴────────────┴─────────┴───────┴──────────┘

## データの可視化

### 学習データ

In [4]:
gwalker = pyg.walk(train_df)

Box(children=(HTML(value='<div id="ifr-pyg-0006140eb8daf19bYtr7jIvRzgF5CfMp" style="height: auto">\n    <head>…

ERROR: kanaries_api_key is not valid.
Please set kanaries_api_key first.
If you are not kanaries user, please register it from 'https://kanaries.net/home/access'
Then refer 'https://github.com/Kanaries/pygwalker/wiki/How-to-get-api-key-of-kanaries%3F' to set kanaries_api_key.